# General
*~
*.log
dump

# Java / Scala
*.class

# Play Framework
.eclipse
*.eml
RUNNING_PID
server.pid
/db
/dist/
/lib/
/logs/
/modules
/project/target
/target
test-result
tmp/

# Eclipse / IntelliJ
*.cache
.cache-main
.cache-tests
.classpath
.project

bin/
