<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Create Account</title>
    </head>

    <body>
        <form method="post" autocomplete="on">
          Name (First and Last):<input type="text" name="name"><br>
            Birthdate <input type="date" name="birthdate"><br>
            Homephone <input type="number" name="homephone"><br>
            Workphone <input type="number" name="workphone"><br>
            Street Address <input type="text" name="streetAddress"><br>
            City<input type="text" name="city"><br>
            Province<input type="text" name="city"><br>


            <input type="submit">
      </form>

    </body>
</html>
