@(client : Client, clientForm : Form[ClientForm], services : List[Service] )(implicit messages: Messages, session : Session)


@if(client != null){
    @main("client:" + client.name) {
        <form action="@routes.Application.index" method="get">
            <button class="btn btn-link">Home</button>
        </form>
        <h3>Info for Client: @client.name </h3>

        <p>CID: @client.cid</p>
        @helper.form(action = routes.Clients.editClient(client.cid)) {
            @helper.inputText(clientForm("cid"), 'style -> "display: none")
            @helper.inputText(clientForm("name"))
            @helper.inputDate(clientForm("birthdate"))
            @helper.inputText(clientForm("homephone"))
            @helper.inputText(clientForm("workphone"))
            @helper.inputText(clientForm("streetAddress"))
            @helper.inputText(clientForm("city"))
            @helper.inputText(clientForm("province"))
            @helper.inputText(clientForm("postalCode"))

            <p><input type="submit" class="btn btn-success btn-lg"
            value='Edit Info'></p>
        }

        <a href="/userDelete/@client.cid" class="btn btn-primary btn-sm" role="button">Delete My Account</a>


        <h4>List of known services provided to this client</h4>
        <ol type="1">
        @for(service <- services){
            <li> @service.serviceTypeName by Advisor: <a href="@routes.Advisors.info(service.sinOrcid)" >@service.name</a> (service id: <a href="@routes.Services.info(service.sid)">@service.sid </a>)</li>
        }
        </ol>
        <a href="@routes.Services.newServiceByClient(client.cid)" class="btn btn-success btn-lg" role="button"> Request a service </a>

    }
}


