@(advisorForm : Form[AdvisorForm])(implicit messages: Messages)

@import helper._

@helper.form(action = routes.Advisors.saveAdvisor) {
    @helper.inputText(advisorForm("sin"))
    @helper.inputText(advisorForm("name"))
    @helper.inputText(advisorForm("workPhoneNumber"))
    @helper.inputText(advisorForm("homePhoneNumber"))
    @helper.inputText(advisorForm("streetAddress"))
    @helper.inputText(advisorForm("city"))
    @helper.inputText(advisorForm("province"))
    @helper.inputText(advisorForm("ReportsTo"))

    <p><input type="submit" class="btn primary"
    value='Add'></p>
}