@(advisor : Advisor, services : List[Service])

@main("Advisor: " + advisor.name){
    <h3>info for advisor: @advisor.name </h3>
    <p>Work Phone Number: @advisor.workPhoneNumber </p>
    <p>Location: @advisor.streetAddress </p>
    <p>Specializes in branches:
        @for(branch <- advisor.branches){
            @** Need to fix the output commas.. **@
            @branch.trim(),
    }
    </p>
    <p>Reports to: @advisor.reports_To </p>

    <h4>List of known services provided</h4>
    <ol type="1">
    @for(service <- services){
        <li> @service.serviceTypeName to <a href="@routes.Clients.info(service.sinOrcid)" >@service.name</a> (service id: <a href="@routes.Services.info(service.sid)">@service.sid </a>)</li>
    }
    </ol>
}