@(advisors: List[Array[String]], multiple: Boolean)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

            <!-- If IE use the latest rendering engine -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

            <!-- Set the page to the width of the device and set the zoon level -->
        <meta name="viewport" content="width = device-width, initial-scale = 1">

        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <title>MyAdvisor</title>

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/advisors.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>

    </head>

    <body>
        @*Specify what content to produce*@
        @if(multiple) {
            <div class="container">
                <div class="page-header">
                    <h2>List of Advisors</h2>
                </div>
                <div class="jumbotron">
                    <table>
                        <tr>
                            <td style="padding : 0 15px 0 15px ;">Name</td>
                            <td style="padding : 0 15px 0 15px ;">Phone Number</td>
                            <td style="padding : 0 15px 0 15px ;">Location</td>
                        </tr>
                        @for(advisor <- advisors) {
                            <tr>
                                <td style="padding : 0 15px 0 15px ;"><a href="@routes.Advisors.info(advisor(0))">@advisor(1)</a></td>
                                <td style="padding : 0 15px 0 15px ;">@advisor(2)</td>
                                <td style="padding : 0 15px 0 15px ;">@advisor(3)</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        } else {
            <h3>info for advisor: @advisors.head(0)</h3>
            <p>Work Phone Number: @advisors.head(1)</p>
            <p>Location: @advisors.head(2)</p>
            <p>Specializes in branches:
                @for(advisor <- advisors) {
                    @** Need to fix the output commas.. **@
                    @advisor(3),
            }
            </p>
        }

        <div class="container">
            <form action="views.html.scala" method="post">
                <input type="text" id="searchBar" placeholder="" value="search for advisors..." maxlength="50" autocomplete="on" onMouseDown="active();" onBlur="" /><input type="submit" id="searchBtn" value=">" />
            </form>
        </div>

    </body>
</html>