@(advisors : List[Array[String]], multiple : Boolean)

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>
    @*Specify what content to produce*@
    @if(multiple){
        <h3>List of Advisors</h3>
        <table>
            <tr>
                <td>Name</td>
                <td>Phone Number</td>
                <td>Location</td>
            </tr>
        @for(advisor <- advisors){
            <tr>
                <td><a href="@routes.Advisors.info(advisor(0))">@advisor(1)</a></td>
                <td>@advisor(2)</td>
                <td>@advisor(3)</td>
            </tr>
        }
        </table>
    }else {
        <h3>info for advisor: @advisors.head(0)</h3>
        <p>Work Phone Number: @advisors.head(1)</p>
        <p>Location: @advisors.head(2)</p>
        <p>Specializes in branches:
        @for(advisor <- advisors){
            @** Need to fix the output commas.. **@
            @advisor(3),
        }
        </p>
    }
</body>
</html>