@(clients : List[Array[String]], multiple : Boolean)
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

  <body>
    @*Specify what content to produce*@
    @if(multiple){
      <h3>List of Clients</h3>
      <table>
        <tr>
          <td>Name</td>
          <td>Client Id</td>
        </tr>
        @for(client <- clients){
          <tr>
            <td><a href="@routes.Client.info(client(0))">@client(1)</a></td>
            <td>@client(0)</td>
          </tr>
        }
      </table>
    }else {
      <h3>info for Client: @clients.head(0)</h3>
      <p>Birthdate: @clients.head(1)</p>
      <p>Home phone number: @clients.head(2)</p>
        <p>Address : @clients.head(3) , @clients.head(4)</p>
    }
  </body>
</html>